In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it.csv')
df.head()

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽"
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽"
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽"
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽"
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽"

In [4]:
dfRub = df[df['З/п в валюте найма'].str.contains('₽')]
meanWage = dfRub['З/п в валюте найма'].str.translate(str.maketrans({'₽': '', ',': '.', u'\xa0': ''})).astype(float).mean()
print('Средняя зарплата в рублях:',str(meanWage))

Средняя зарплата в рублях: 190669.89488372093

In [5]:
dfRub.groupby(['Технология'])['З/п в валюте найма'].max()

Технология
.NET          200 000,00 ₽
Android       185 000,00 ₽
BI            200 000,00 ₽
Big Data      280 000,00 ₽
C++           206 896,00 ₽
GameDev       130 631,00 ₽
JS            200 000,00 ₽
Java          300 000,00 ₽
JavaScript    300 000,00 ₽
PHP           201 149,43 ₽
QA            375 000,00 ₽
Sales         150 000,00 ₽
Scala         250 000,00 ₽
iOS           184 000,00 ₽
Name: З/п в валюте найма, dtype: object

In [7]:
print("Технология с максимальной зарплатой по данным в рублях: ", 
      dfRub.groupby(['Технология'])['З/п в валюте найма'].max().sort_values(ascending=False).index[0])

Технология с максимальной зарплатой по данным в рублях:  QA

In [10]:
print('Возраст програмистов с макисмальной зарплатой: ', 
      dfRub.groupby(['Дата рождения'])['З/п в валюте найма'].max().sort_values(ascending=False).index[0])

Возраст програмистов с макисмальной зарплатой:  16.03.1986

In [12]:
df[df['Вакансия'].str.contains('Engineer')][['Вакансия','З/п в валюте найма']]

                     Вакансия З/п в валюте найма
4      QA Automation Engineer       172 413,00 ₽
9               Java Engineer        9 500,00 zł
11              .NET Engineer       12 000,00 zł
12        JavaScript Engineer       10 500,00 zł
13          Software Engineer        9 500,00 zł
18   Senior Software Engineer       200 000,00 ₽
19                QA Engineer       135 000,00 ₽
37        JavaScript Engineer       13 000,00 zł
38   Senior Software Engineer        lev6 446,00
39   Test Automation Engineer       Ft650 000,00
54              .NET Engineer       80 000,00 Kč